#calculator-container {
    margin: auto;
    width: 400px;
    height: 445px;
    border: grey solid 3px;
    background: grey;
}
#display {
    margin: auto;
    text-align: left;
    padding-top: 25px;
    width: 350px;
    height: 50px;
    border: grey solid 3px;
    color: black;
    font-size: 50px;
    font-family: 'Rationale', sans-serif;
    background: white;
}
#buttons {
    display: grid;
    grid-template-areas:
        'plus minus mult div'
        'seven eight nine clear'
        'four five six clear'
        'one two three clear' 
        'zero equals equals equals';
    width: 350px;
    height: 300px;
    margin: auto;
    row-gap: 5px;
    column-gap: 5px;
    border: black solid 1px;
    padding: 2px;
}
#button1 {
    grid-area: one;
}
#button2 {
    grid-area: two;
}
#button3 {
    grid-area: three;
}
#button+ {
    grid-area: plus;
}
#button4 {
    grid-area: four;
}
#button5 {
    grid-area: five;
}
#button6 {
    grid-area: six;
}
#button- {
    grid-area: minus;
}
#button7 {
    grid-area: seven;
}
#button8 {
    grid-area: eight;
}
#button9 {
    grid-area: nine;
}
#buttonx {
    grid-area: mult;
}
#button0 {
    grid-area: zero;
}
#button-clear {
    grid-area: clear;
}
#button-equals {
    grid-area: equals;
}
#button-divide {
    grid-area: div;
}