#calculator-container {
    margin: auto;
    width: 350px;
    height: 445px;
    border: grey solid 3px;
}
#display {
    margin: auto;
    text-align: left;
    padding-top: 25px;
    width: 300px;
    height: 50px;
    border: grey solid 3px;
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#buttons {
    display: grid;
    grid-template-areas:
        'one two three plus'
        'four five six minus' 
        'seven eight nine mult'
        'clear clear equals div';
    width: 300px;
    height: 300px;
    margin: auto;
    row-gap: 5px;
    column-gap: 5px;
    border: grey solid 1px;
    padding: 2px;
}
#button1 {
    grid-area: one;
}
#button2 {
    grid-area: two;
}
#button3 {
    grid-area: three;
}
#+button {
    grid-area: plus;
}
#button4 {
    grid-area: four;
}
#button5 {
    grid-area: five;
}
#button6 {
    grid-area: six;
}
#-button {
    grid-area: minus;
}
#button7 {
    grid-area: seven;
}
#button8 {
    grid-area: eight;
}
#button9 {
    grid-area: nine;
}
#xbutton {
    grid-area: mult;
}
#clear-button {
    grid-area: clear;
}
#=button {
    grid-area: equals;
}
#/button {
    grid-area: div;
}